.path-0{
    animation:pathAnim-0 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    }
    @keyframes pathAnim-0{
    0%{
    d: path("M 0,600 C 0,600 0,120 0,120 C 124.14285714285714,118.35714285714286 248.28571428571428,116.71428571428571 355,111 C 461.7142857142857,105.28571428571429 550.9999999999999,95.50000000000001 656,97 C 761.0000000000001,98.49999999999999 881.7142857142858,111.28571428571429 1015,117 C 1148.2857142857142,122.71428571428571 1294.142857142857,121.35714285714286 1440,120 C 1440,120 1440,600 1440,600 Z");
    }
    25%{
    d: path("M 0,600 C 0,600 0,120 0,120 C 101.14285714285714,106.03571428571428 202.28571428571428,92.07142857142857 317,82 C 431.7142857142857,71.92857142857143 560,65.75 684,81 C 808,96.25 927.7142857142858,132.92857142857142 1053,143 C 1178.2857142857142,153.07142857142858 1309.142857142857,136.53571428571428 1440,120 C 1440,120 1440,600 1440,600 Z");
    }
    50%{
    d: path("M 0,600 C 0,600 0,120 0,120 C 129.25,108.67857142857143 258.5,97.35714285714286 373,90 C 487.5,82.64285714285714 587.2500000000001,79.25 689,80 C 790.7499999999999,80.75 894.5,85.64285714285715 1020,93 C 1145.5,100.35714285714285 1292.75,110.17857142857142 1440,120 C 1440,120 1440,600 1440,600 Z");
    }
    75%{
    d: path("M 0,600 C 0,600 0,120 0,120 C 131.21428571428572,102.32142857142857 262.42857142857144,84.64285714285714 380,77 C 497.57142857142856,69.35714285714286 601.5,71.75000000000001 713,79 C 824.5,86.24999999999999 943.5714285714287,98.35714285714285 1066,106 C 1188.4285714285713,113.64285714285715 1314.2142857142858,116.82142857142858 1440,120 C 1440,120 1440,600 1440,600 Z");
    }
    100%{
    d: path("M 0,600 C 0,600 0,120 0,120 C 124.14285714285714,118.35714285714286 248.28571428571428,116.71428571428571 355,111 C 461.7142857142857,105.28571428571429 550.9999999999999,95.50000000000001 656,97 C 761.0000000000001,98.49999999999999 881.7142857142858,111.28571428571429 1015,117 C 1148.2857142857142,122.71428571428571 1294.142857142857,121.35714285714286 1440,120 C 1440,120 1440,600 1440,600 Z");
    }
    }
    
    .path-1{
    animation:pathAnim-1 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    }
    @keyframes pathAnim-1{
    0%{
    d: path("M 0,600 C 0,600 0,240 0,240 C 135.5,222.85714285714286 271,205.71428571428572 389,202 C 507,198.28571428571428 607.5000000000001,208 707,217 C 806.4999999999999,226 905,234.2857142857143 1027,238 C 1149,241.7142857142857 1294.5,240.85714285714283 1440,240 C 1440,240 1440,600 1440,600 Z");
    }
    25%{
    d: path("M 0,600 C 0,600 0,240 0,240 C 161.53571428571428,239.96428571428572 323.07142857142856,239.92857142857144 426,248 C 528.9285714285714,256.07142857142856 573.2499999999999,272.25 668,261 C 762.7500000000001,249.75 907.9285714285716,211.07142857142858 1045,203 C 1182.0714285714284,194.92857142857142 1311.0357142857142,217.46428571428572 1440,240 C 1440,240 1440,600 1440,600 Z");
    }
    50%{
    d: path("M 0,600 C 0,600 0,240 0,240 C 141.96428571428572,258.2857142857143 283.92857142857144,276.57142857142856 384,267 C 484.07142857142856,257.42857142857144 542.25,220 658,204 C 773.75,188 947.0714285714284,193.42857142857144 1087,203 C 1226.9285714285716,212.57142857142856 1333.4642857142858,226.28571428571428 1440,240 C 1440,240 1440,600 1440,600 Z");
    }
    75%{
    d: path("M 0,600 C 0,600 0,240 0,240 C 81.92857142857142,250 163.85714285714283,260 301,257 C 438.14285714285717,254 630.4999999999999,237.99999999999997 759,232 C 887.5000000000001,226.00000000000003 952.1428571428573,230 1055,233 C 1157.8571428571427,236 1298.9285714285713,238 1440,240 C 1440,240 1440,600 1440,600 Z");
    }
    100%{
    d: path("M 0,600 C 0,600 0,240 0,240 C 135.5,222.85714285714286 271,205.71428571428572 389,202 C 507,198.28571428571428 607.5000000000001,208 707,217 C 806.4999999999999,226 905,234.2857142857143 1027,238 C 1149,241.7142857142857 1294.5,240.85714285714283 1440,240 C 1440,240 1440,600 1440,600 Z");
    }
    }
    
    .path-2{
    animation:pathAnim-2 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    }
    @keyframes pathAnim-2{
    0%{
    d: path("M 0,600 C 0,600 0,360 0,360 C 99.35714285714286,352.92857142857144 198.71428571428572,345.85714285714283 323,339 C 447.2857142857143,332.14285714285717 596.4999999999999,325.5 716,338 C 835.5000000000001,350.5 925.2857142857144,382.14285714285717 1041,389 C 1156.7142857142856,395.85714285714283 1298.3571428571427,377.92857142857144 1440,360 C 1440,360 1440,600 1440,600 Z");
    }
    25%{
    d: path("M 0,600 C 0,600 0,360 0,360 C 145.75,378.7857142857143 291.5,397.57142857142856 413,400 C 534.5,402.42857142857144 631.75,388.49999999999994 737,380 C 842.25,371.50000000000006 955.5,368.42857142857144 1074,366 C 1192.5,363.57142857142856 1316.25,361.7857142857143 1440,360 C 1440,360 1440,600 1440,600 Z");
    }
    50%{
    d: path("M 0,600 C 0,600 0,360 0,360 C 153.57142857142856,338.92857142857144 307.1428571428571,317.85714285714283 410,325 C 512.8571428571429,332.14285714285717 564.9999999999999,367.5 668,368 C 771.0000000000001,368.5 924.8571428571429,334.14285714285717 1062,327 C 1199.142857142857,319.85714285714283 1319.5714285714284,339.92857142857144 1440,360 C 1440,360 1440,600 1440,600 Z");
    }
    75%{
    d: path("M 0,600 C 0,600 0,360 0,360 C 99.85714285714286,336.1071428571429 199.71428571428572,312.2142857142857 312,319 C 424.2857142857143,325.7857142857143 549.0000000000001,363.24999999999994 686,377 C 822.9999999999999,390.75000000000006 972.2857142857142,380.78571428571433 1100,374 C 1227.7142857142858,367.21428571428567 1333.857142857143,363.60714285714283 1440,360 C 1440,360 1440,600 1440,600 Z");
    }
    100%{
    d: path("M 0,600 C 0,600 0,360 0,360 C 99.35714285714286,352.92857142857144 198.71428571428572,345.85714285714283 323,339 C 447.2857142857143,332.14285714285717 596.4999999999999,325.5 716,338 C 835.5000000000001,350.5 925.2857142857144,382.14285714285717 1041,389 C 1156.7142857142856,395.85714285714283 1298.3571428571427,377.92857142857144 1440,360 C 1440,360 1440,600 1440,600 Z");
    }
    }
    
    
    .path-3{
    animation:pathAnim-3 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    }
    @keyframes pathAnim-3{
    0%{
    d: path("M 0,600 C 0,600 0,480 0,480 C 96.10714285714286,467.1071428571429 192.21428571428572,454.2142857142857 310,466 C 427.7857142857143,477.7857142857143 567.25,514.25 683,510 C 798.75,505.75 890.7857142857142,460.78571428571433 1013,449 C 1135.2142857142858,437.21428571428567 1287.607142857143,458.60714285714283 1440,480 C 1440,480 1440,600 1440,600 Z");
    }
    25%{
    d: path("M 0,600 C 0,600 0,480 0,480 C 77.28571428571428,479.92857142857144 154.57142857142856,479.85714285714283 295,486 C 435.42857142857144,492.14285714285717 638.9999999999999,504.5 775,513 C 911.0000000000001,521.5 979.4285714285716,526.1428571428571 1079,520 C 1178.5714285714284,513.8571428571429 1309.2857142857142,496.92857142857144 1440,480 C 1440,480 1440,600 1440,600 Z");
    }
    50%{
    d: path("M 0,600 C 0,600 0,480 0,480 C 142.28571428571428,491.8928571428571 284.57142857142856,503.7857142857143 385,505 C 485.42857142857144,506.2142857142857 543.9999999999999,496.75 667,482 C 790.0000000000001,467.25 977.4285714285716,447.2142857142857 1117,446 C 1256.5714285714284,444.7857142857143 1348.2857142857142,462.3928571428571 1440,480 C 1440,480 1440,600 1440,600 Z");
    }
    75%{
    d: path("M 0,600 C 0,600 0,480 0,480 C 110.32142857142858,452.82142857142856 220.64285714285717,425.64285714285717 327,435 C 433.35714285714283,444.35714285714283 535.7500000000001,490.25000000000006 666,499 C 796.2499999999999,507.74999999999994 954.3571428571427,479.35714285714283 1088,470 C 1221.6428571428573,460.64285714285717 1330.8214285714287,470.32142857142856 1440,480 C 1440,480 1440,600 1440,600 Z");
    }
    100%{
    d: path("M 0,600 C 0,600 0,480 0,480 C 96.10714285714286,467.1071428571429 192.21428571428572,454.2142857142857 310,466 C 427.7857142857143,477.7857142857143 567.25,514.25 683,510 C 798.75,505.75 890.7857142857142,460.78571428571433 1013,449 C 1135.2142857142858,437.21428571428567 1287.607142857143,458.60714285714283 1440,480 C 1440,480 1440,600 1440,600 Z");
    }
    }